<div class="header-background">

    <h1 class="header-title">TATSUKI KODAMA'S PORTFOLIO</h1>
    <link href="https://use.fontawesome.com/releases/v6.4.2/css/all.css" rel="stylesheet">
    <p class="header-contents">
        ✉️ namer-namer@outlook.jp
    </p>
    <div class="gaussian">
        <p>*</p>
        <p>*</p>
        <p>**</p>
        <p>**</p>
        <p>***</p>
        <p>*****</p>
        <p>******</p>
        <p>*******</p>
        <p>*******</p>
        <p>******</p>
        <p>*****</p>
        <p>****</p>
        <p>**</p>
        <p>**</p>
        <p>*</p>
        <p>*</p>
    </div>


</div>

<div class="sidebar">
    <a href="portfolio">PORTFOLIO</a>
    <a href="garally">GALLARY</a>
    <a href="index">EXIT</a>
</div>