<div>
    <h1>Tatsuki Kodama</h1>
    <ul>
        <!-- <li><a href="/portfolio">Home</a></li> -->
        <header style="background-image:url(img/background.jpg)">
        <li><a href="index">Garally</a></li>
    </ul>
</div>