<div class="header-title">
    <h1>Tatsuki Kodama</h1>
</div>

<div class="header-list">
    <ul>
        <li><a href="index">Garally</a></li>
        <li><a href="index">Contact</a></li>
    </ul>
</div>