@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444444;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1{
	background: url(../img/background.jpg) center / cover;
	color: #ffffff;

}

section {
    margin-bottom: 40px;
}

section h1 {
    margin-bottom: 20px;
    font-size: 1.8em;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}

section p, section ul {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    background: #e9e9e9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

/*
ul li:last-child {
    background: #d4edda;
    color: #155724;
}
*/

article h3 {
    margin-bottom: 10px;
    font-size: 1.4em;
    color: #333;
}

article p {
    margin-bottom: 10px;
}

article a {
    color: #007bff;
    text-decoration: none;
}

article a:hover {
    text-decoration: underline;
}
