<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <link rel="stylesheet" href="css/style.css" type="text/css">
        <link rel="icon" type="image/x-icon" href="../img/myFavicon.jpg">
</head>

<body>

    <header>
        <%- include('../partials/header'); %>
    </header>
    <main class="garally">
        <h1>GALLARY</h1>
    </main>

    <%# 画像の空の要素。この部分は動的に拡張される必要がある %>
        <div class="garally-container">
            <div class="radio">
                <input type="radio" id="radio10sec" name="secRadio" value="10" onchange="slideShow()" checked />
                <!-- checked => 初期値-->
                <label for="radio10sec">10 sec</label>

                <input type="radio" id="radio20sec" name="secRadio" value="20" onchange="slideShow()" />
                <label for="radio20sec">20 sec</label>

                <input type="radio" id="radio30sec" name="secRadio" value="30" onchange="slideShow()" />
                <label for="radio30sec">30 sec</label>
            </div>

            <img src="" class="pics" id="pics">
        </div>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>

        <script src="js/scriptGrally.js"></script>


</body>

</html>